.git
.github
.vscode
.idea
node_modules
dist
dist-ssr
coverage
*.md
!README.md
*.docx
*.local
.env
.env.*
!.env.example
npm-debug.log*
logs
*.log
infra
k8s
deploy
monitoring
openbao
docker-compose*.yml
LICENSE
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
SECURITY-PIPELINE.md
bun.lockb
**/.DS_Store
**/*.tfstate
**/*.tfvars
.terraform
